# macOS
.DS_Store

# Xcode user data
xcuserdata/
*.xcuserstate

# Xcode build files
DerivedData/
build/

# Swift Package Manager
.swiftpm/
.build/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/

# Secrets / environment
.env
.env.local
